body {
  background-color: #1a1a2e;
  color: #fff;
  font-family: "Arial", sans-serif;
}

.notifications-container {
  height: 6.5rem;
  width: 97%;
  /* padding: 2px; */
  /* background: pink; */
  display: flex;
  margin-top: 1%;
  justify-content: flex-start;
  /* align-items: center; */
  flex-direction: column;
}

.notifications-container h2 {
  font-size: small;
  /* margin-bottom: 10px; */
  margin: 0%;
  margin-bottom: 10px;
  padding: 0%;
}

.notification-item {
  display: inline-block;
  border: 1px solid #a77fb7;
  box-shadow: 0px 4px 4px 0px #00000040;
  background: #54356057;
  height: 80px;
  margin: 1%;
  border-radius: 8px;
  text-align: center;
  width: 80px;
  transition: transform 0.3s ease;
}

.notification-item img {
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  margin-top: 10%;
  margin-bottom: 2%;
}

.notification-item p {
  /* margin-top: 10px; */
  font-size: x-small;
  color: #e4b1f9;
  margin: 0%;
}

.notification-item:hover {
  transform: scale(1.05);
}

#notification-list {
  height: 4.5rem;
  width: 100%;
  /* padding: 2px; */
  /* background: pink; */
  display: flex;
  justify-content: start;
  align-items: center;
  /* flex-direction: column; */
}

/* solo-leader-board */

.leaderboard-container {
  /* background-color: #1c1c1c; */
  background-image: url("../../../src/assets/leaderboard_solo.png");
  border-radius: 8px;
  background-size: cover;
  /* padding: 16px; */
  color: #fff;
  font-family: Arial, sans-serif;
  width: 45%;
  height: auto;
  /* height: auto; */
  margin: 1.5%;
  margin-top: 7%;
  border-bottom: 2px solid #6b5275;

  img {
    width: 30px;
    height: 31px;
    gap: 0px;
    opacity: 0px;
  }
}






/*  team Leader-Board */


.leaderboard-container-team {
    background-image: url("../../../src/assets/leaderboard.png");
    border-radius: 8px;
    background-size: cover;
    color: #fff;
    font-family: Arial, sans-serif;
    width: 45%;
    height: auto;
    margin: 1.5%;
    margin-top: 7%;
  border-bottom: 2px solid #6b5275;

  }
  .leaderboard-container-team:hover{
    transform: scale(1.005);

  }
  
  .leaderboard-container:hover {
    transform: scale(1.005);
  }
  
  .leaderboard-title {
    text-align: center;
    font-size: medium;
    margin-top: 6.5%;
  }
  
  .leaderboard-table {
    width: 90%;
    padding: 13%;
    border-collapse: collapse;
    text-align: center;
    margin: 3%;
  }
  
  .leaderboard-table th,
  .leaderboard-table td {
    padding: 1%;
    text-align: left;
    color: #ffffff;
  }

  .leaderboard-table tr{
    padding-top: 5%;
  }
  
  .leaderboard-table img {
    width: 30px;
    height: 31px;
    gap: 0px;
    margin: 0%;
    padding-right: 10%;
  }
  