/* App.css */

* {
  margin: 0;
  padding: 0;
  font-family: "Gidugu", sans-serif;
}
/* Utility Classes */
.Heading{
  color: white;
  font-family: Gidugu;
font-size: 33px;
font-weight: 400;
line-height: 24.75px;
letter-spacing: 0.29em;
margin-top: 5%;
/* text-align: center; */
}
.sub-heading{
  color: white;
}
.text{
  color: white;
}
.flex{
  display: flex;
}
.space{
  position: relative;
  height: 20vh;
  background: #171219;
  z-index: -1;
}

.container{
  color: #ffffff;
  display: flex;
  margin-top: 7%;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
  background-color: #171219;
  height: 85%;
  width: 70%;
}
.glow-circle {
  z-index: 0;
  position: absolute;
  width: 3px;
  height: 3px;
  border-radius: 50%; /* Makes the div a circle */
  background-color: transparent; /* Transparent background */
}
/* Landing Page */
.App {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  overflow-y: scroll;
  position: relative;
}

.video-background {
  position: fixed;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  width: 100%;
  height: inherit;
  object-fit: cover; /* Ensures the video covers the entire background */
  z-index: -1; /* Puts the video behind other content */
}

.content {
  position: relative;
  z-index: 1; /* Puts the content above the video */
  text-align: center;
  color: white; /* Ensures text is visible */
  height: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}

nav {
  z-index: 100;
  display: flex;
  width: 100%;
  height: 10%;
  top: 0;
  /* z-index: -1; */
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.1); /* Semi-transparent white background */
  border-radius: 10px;
  backdrop-filter: blur(10px); /* Adds the glass effect */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adds a slight shadow */
  padding: 10px;
  margin-bottom: 20px;
  /* gap: 3%; */
}
.nav-links-container{
  width: 48%;
 /* justify-content: space-evenly; */
 gap: 5%;
}
nav a {
  z-index: 2;
  font-family: Gidugu,sans-serif;
  font-size: 100%;
  font-weight: 400;
  text-decoration: none;
  color: white;
  cursor: pointer;
}
#signin{
  width: 14%;
}
nav img {
  width: 68px;
  height: 60px;
}

#logo{
  height: 350%;
  width: 24%;
}
.play {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  color: white;
  width: 60%;
  margin-top: 10%;
  margin-left: 20%;
}

.text1 {
  font-family: Gidugu,sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.29em;
  text-align: center;
}

#playnow {
  cursor: pointer;
  margin-top: 8%;
  font-size: 2rem;
  font-weight: 800;
  color: #ffffff; /* White text color */
  text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #c0c0c0,
    0 0 30px #c0c0c0, 0 0 40px #c0c0c0, 0 0 50px #c0c0c0, 0 0 60px #c0c0c0;
  animation: glow 1.5s infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #c0c0c0,
      0 0 30px #c0c0c0, 0 0 40px #c0c0c0, 0 0 50px #c0c0c0, 0 0 60px #c0c0c0;
  }
  to {
    text-shadow: 0 0 10px #ffffff, 0 0 20px #c0c0c0, 0 0 30px #c0c0c0,
      0 0 40px #c0c0c0, 0 0 50px #c0c0c0, 0 0 60px #c0c0c0, 0 0 70px #c0c0c0;
  }
}

/*  app2 css */
.app2 , .app3 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120vh;
  background-color: #171219;
  /* background-image: url('./assets/tempbg_landing.jpg'); Adjust this path as needed */
  background-size: cover;
  background-position: center;
  flex-direction: row;
}

.content2 {
  z-index: 1;
  width: 800px;
  height: 60%;
  display: flex;
  flex-direction: row;
  text-align: left;
  color: white;
  padding: 20px;
  border-radius: 10px;
}

.content2 h1 {
  font-family: Gidugu;
  font-size: 29px;
  font-weight: 400;
  line-height: 51.75px;
  text-align: left;
}

.content2 p {
  font-family: Gidugu;
font-size: 19px;
font-weight: 400;
line-height: 25.2px;
text-align: left;


}

.content2 .robot-image {
  z-index: 1;
  display: block;
  width: 100%;
  height: auto;
  padding: 10px; /* Add padding to make space for the glow */
  border-radius: 15px; /* Optional: makes the corners rounded */
  filter: drop-shadow( 0px 0px 20px rgb(255, 255, 255 ,10));
  transition: box-shadow 0.3s ease-in-out;
}
.gc0 {
  left: 15%;
  box-shadow:0 0 600px 200px rgba(241, 141, 141, 0.5) ; /* Creates the glow effect */
}
.gc1{
  left: 85%;
  box-shadow: 0 0 600px 250px rgba(255, 161, 74, 0.5); /* Creates the glow effect */
}.gc2 {
  left: 50%;

  box-shadow: 0 0 600px 250px rgba(241, 141, 141, 0.5); /* Creates the glow effect */
}


/* app3 */


.glow-circle3 {
  z-index: 0;
  position: absolute;
  left: 30%;
  top: 280%;
  width: 3px;
  height: 3px;
  border-radius: 50%; /* Makes the div a circle */
  background-color: transparent; /* Transparent background */
  box-shadow: 0 0 500px 200px  #DF8492; /* Creates the glow effect */
}
.glow-circle4  {
  z-index: 0;
  position: absolute;
  left: 77%;
  top: 315%;
  width: 3px;
  height: 3px;
  border-radius: 50%; /* Makes the div a circle */
  background-color: transparent; /* Transparent background */
  box-shadow: 0 0 500px 200px rgba(248, 248, 248, 0.5); /* Creates the glow effect */
}
.lp{
  font-family: Gidugu;
font-size: 33px;
font-weight: 400;
line-height: 24.75px;
letter-spacing: 0.29em;
text-align: center;
margin: 5%;

}
.app3-container{
  height: 100%;
  /* width: 100%; */
  margin: 0;
}
/* app4 */
.DV-Box-container{
  gap: 7.2vw;
}
.gc5{
left: 75%;
top: 430%;
  box-shadow: 0 0 500px 200px  #F1A02F; /* Creates the glow effect */
}
.gc6{
  left: 25%;
  top: 410%;
  box-shadow: 0 0 500px 200px  #F6F6F6; /* Creates the glow effect */
}
/* Achievements & Rewards */
.AandR-container{
margin: 0;
height: 100%;
/* gap: 10px; */
}

/* Testimonial page */
.Testimonial-page{
  flex-direction: column;
}
.Testimonial-container{
  width: 100%;
  height: 100%;
  flex-direction: row;
  gap: 5%;
  align-items: start;
  padding-inline: 5%;
  
}
.side-text{
  margin: 0;
position: absolute;
bottom: 0%;
left: 5%;
}
.gc20, .gc21{
  filter: blur(3px);
  box-shadow: 0 0 150px 150px #FFFBFB;
}
.gc20{
left: 10%;
top: 1050%;
}
.gc21{
  top: 950%;
  left: 90%;
}

